# OS
.DS_Store
Thumbs.db

# Editors
*.swp
*.swo
*~
.vscode/
.idea/

# Node (simulateur)
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
.venv/

# Temp
*.tmp
*.bak
unpacked/
raw.docx

_livres pour inspiration
